[2018-09-28 09:18] zenangst opened #1 "Use NSAppleScript instead of running apple scripting as a shell script"
The application uses shell scripts for all its operations, like setting property list attributes, closing and re-opening apps using apple scripts. Instead of running a command, it would be better to use `NSAppleScript` to execute apple scripts. It would clean up the current string hackery that is going on in the logic controller to properly escape strings.

### Reference

https://github.com/zenang

[2018-09-28 09:21] zenangst opened #2 "Create icon cache"
The application should be able to display the application icon along-side the application name.
I propose making a separate class for indexing, creating and caching application icons that can be used when rendering the views. Preferably it could use the application bundle as the cache key.
In the initial implementation, it would be good enough to only cache during the first operation and then reus

[2018-09-28 09:34] #1 closed

[2018-09-29 09:20] #2 closed, assigned to nobody

[2018-09-29 19:49] KeKsBoTer opened #7 "Cannot use light mode for mail app."
First of all: Nice tool, I have been locking for something like this for a while!

It works fine for all apps but mail. I use global dark mode, but cannot set light mode for the mail app.
The defaults for mail are the following:
[code]

[2018-09-30 08:03] zenangst commented on #7
@KeKsBoTer hey mate, thanks for the feedback. Hmm, that is pretty odd, the output looks correct to me. What about if you close mail and manually run this in the terminal:

[code]

Does it have any effect?

[2018-09-30 10:24] RamonGilabert opened #8 "App should take current light or dark setting and take the current configuration of every app"
If it's already set in dark theme, Gray should be in dark theme and the apps should be all dark (parse it to check just in case). If it's in light theme, though, we do the same.

[2018-09-30 10:25] RamonGilabert opened #9 "List of apps you want to turn dark or light."
This is already done, but listing here to track it down.

[2018-09-30 10:26] RamonGilabert opened #10 "Change the general appearance, dock and menu bar setting to be dark or light independently"
Instead of making users run a command in the terminal, we could make the same inside the app, as it's related and would love to use that myself.

For reference: https://www.tekrevue.com/tip/only-dark-menu-bar-dock-mojave

[2018-09-30 10:28] RamonGilabert opened #11 "Settings screen"
Settings screen should contain:

- [ ] Save settings toggle (only keep the color of those that changed, even if you change theme).
- [ ] Reset apps automatically after you change setting toggle.
- [ ] Reset all apps to its original settings.
- [ ] Play interface sounds (yes, we'll have some).

[2018-09-30 10:31] RamonGilabert commented on #11
*Chris comment:* A bit unsure if we can do all the setting as the “trick” is based on getting white apps in a dark context. Unsure if it can be reversed.

*My answer:* What if we had the identifiers of the apps users changed (com.apple.mail), and stored those in NSUserDefaults. If users open the app again, and we set Mail in white, but we are in dark mode now, we run through UserDefaults and see t

[2018-09-30 10:35] RamonGilabert opened #12 "Reset apps in the background"
Instead of stealing focus, we could restart the app in the background and call it a day.

Original idea from @zenangst 👊

[2018-09-30 10:48] RamonGilabert opened #13 "Change mode from the app"
Instead of having to go to general, we can set a setting in our app.

[2018-10-01 06:47] zenangst commented on #7
@KeKsBoTer hey mate, I just pushed a new version that should fix this issue, see #16 for more information.

Please try version 0.2.1, you can download it here -
https://github.com/zenangst/Gray/releases/download/0.2.1/Gray.zip

[2018-10-01 08:44] RamonGilabert opened #18 "Don't show Electron apps"

[2018-10-01 08:47] RamonGilabert opened #19 "Move to Applications folder"
Is it hard to do something like this:

<img width="648" alt="screen shot 2018-10-01 at 10 46 32 am" src="https://user-images.githubusercontent.com/6138120/46278720-45506480-c567-11e8-9d39-46a1b1991887.png">

I think it's a nice touch. But we might not need that. What do you think?

[2018-10-01 13:14] Gevoraway opened #20 "App icon is blank"
The app icon is blank. See screenshot.
<img width="517" alt="2018-10-01 16 12 43" src="https://user-images.githubusercontent.com/31576839/46290608-f8838280-c594-11e8-91d9-506483bad217.png">

[2018-10-01 16:20] dsalzr commented on #7
Mail doesn't work for me with 0.2.1 🙁 All other apps worked.

Tried `defaults write com.apple.mail NSRequiresAquaSystemAppearance -bool YES` and it has no effect

[2018-10-01 18:36] zenangst commented on #7
Seems like the recent fix didn’t do its job properly. I wonder if this has to do with plist caching. I’ll do some more digging when I’m back from vacation to see if we can’t put a nail in the coffin on this shenanigans. I’ll keep you posted!

[2018-10-01 18:37] zenangst commented on #20
Hey @Gevoraway, the app is still pre-release and we are still working on an app icon for the project. It shouldn’t be to far of so stay tuned ;)

[2018-10-03 14:36] RamonGilabert commented on #11
Save settings toggle won't be there, as it's not necessary and the app does that by default! (:

[2018-10-03 19:18] zenangst commented on #20
Just to follow up a bit on this one, we just release version `0.4.0` and it has a new stellar icon. Just download the latest release :)

[2018-10-03 19:18] #20 closed

[2018-10-03 21:55] zenangst commented on #7
@KeKsBoTer @dsalzr mind testing this issue with version 0.4.0?

[2018-10-03 22:30] dsalzr commented on #7
Still no change @zenangst 🙁

Here's a video of me testing it out:

https://www.youtube.com/watch?v=YMT1SRw8VDo

[2018-10-04 09:45] #12 closed

[2018-10-04 10:53] #18 closed

[2018-10-04 11:03] zenangst commented on #7
@dsalzr bah this issue is tearing me apart, but no worries... we will figure it out eventually.
I've done some testing and Mail works for me with the latest version of the app. I'm curious why certain apps are causing issues for different users. For me, it has been Contacts that has been acting a bit weird while testing but that was fixed in prior versions.

Maybe you could try the following steps

[2018-10-04 15:24] drivenfaroff opened #26 "Not Working / Saving Settings"
Hi, Thanks for this! This is exactly what I'm looking for.

I'm having the same issues for Mail.app #7 and actually its not working for any application for that matter.

I've restarted, and logged in/out and also tried running the following with no luck.

`/usr/bin/killall -u $USER cfprefsd`
`defaults write com.apple.mail NSRequiresAquaSystemAppearance -bool true`

I'm also seeing Gray not save th

[2018-10-04 16:18] zenangst commented on #26
@drivenfaroff hey mate, trying to get to the bottom of this issue and I've been tinkering with some enhancements in this PR #27 but I'm still unsure if it fixes it for everyone. The app that has been misbehaving for me is Contacts. Mail and Messages have been working fine with my testing.

I'll post an update here when I have something more to test. Sorry for any inconvenience.

[2018-10-05 09:03] zenangst commented on #26
@drivenfaroff version 0.5.0 is out which has some slight changes to how it writes new preferences to plists. The details are in the PR - https://github.com/zenangst/Gray/pull/27/files

[2018-10-05 09:05] zenangst commented on #7
@dsalzr @KeKsBoTer Still fighting the good fight! A new version just landed which has some minor changes to how preferences are written to their property lists. Mind taking the new version for a spin to see if it does not resolve the issues you have been seeing?

https://github.com/zenangst/Gray/releases/download/0.5.0/Gray.zip

[2018-10-05 09:07] #13 closed

[2018-10-05 09:30] zenangst commented on #26
I just found a small clue that might be the culprit in this drama, so I made a new version: https://github.com/zenangst/Gray/releases/download/0.5.1/Gray.zip

[2018-10-05 09:30] zenangst commented on #7
Sketch that, there is a new version that further tries to correct the issue, you can find it here: https://github.com/zenangst/Gray/releases/download/0.5.1/Gray.zip

[2018-10-05 10:11] KeKsBoTer commented on #7
@zenangst Thanks for your efforts! Sadly it does not work :/

[2018-10-05 10:13] zenangst commented on #7
I can make a special version that prints some of the output from the shell commands, that might help to narrow things down.

[2018-10-05 10:55] zenangst commented on #7
I’ve started brewing on a new version with better logging when it saves settings. While implementing it I was one thing that might be the culprit.

Right now I’m going to a museum with my kid but I’ll make a new build and notify you peeps when life allows.

Stay tuned and thanks for your patience ;)

[2018-10-05 11:06] #9 closed

[2018-10-05 11:06] zenangst commented on #10
Looks like dock and menu bar is coupled so we might not be able to change them independently

[2018-10-05 13:46] zenangst commented on #7
@KeKsBoTer @dsalzr mind taking 0.5.2 for a spin - https://github.com/zenangst/Gray/releases/download/0.5.2/Gray.zip

If it still does not work with that version, you should be able to use `Console.app` to get information about the commands that are sent and what the command output is.

Please provide that info here if you are still having issue :)

[2018-10-05 13:47] zenangst commented on #26
Another day, another version. Hoping that this version works better - https://github.com/zenangst/Gray/releases/download/0.5.2/Gray.zip

[2018-10-05 19:17] PatrykDampc opened #33 "this doesn't work for me :("
idk what i'm doing wrong but this partial-dark mode doesn't work for me no matter if I set it with this app or with manual terminal commands :(

[2018-10-06 03:11] drivenfaroff commented on #26
@zenangst Things are working a lot better! Thanks for the updates.

Settings for each app seem to be saving correctly and apps are quitting and re-opening fine when switching settings.

It's also changing almost every app correctly except for Mail.app still. Mail will quit but won't restart. Then it won't change the color, it's stuck on whatever system prefs are set to.

[2018-10-06 08:51] zenangst commented on #26
@drivenfaroff  Glad to hear that we heading in the right direction. I'm starting to wonder if this is an environmental problem that I'm having issues recreating.

What if we take the application out of the equation for a bit and try to get it working with terminal commands.

## Turn on Dark appearance
[code]

## Turn on Light appearance
[code]

What happens if you run these commands in sequence in

[2018-10-06 11:18] zenangst commented on #19
Gonna investigate how to create dmg files. Should be fairly straight forward. However, I think it would be nicer to invest some time in automatic updates. As in, the app downloading a new version of itself and handling relaunching etc.

[2018-10-06 12:55] zenangst commented on #33
Hey @PatrykDampc, sad to hear that. Let's have a closer look at your setup. I'm guessing you are already running Mojave in dark mode.

When you try to toggle the appearance for an app, what happens? Does it close the application and re-open it?

Would you be able to open `/Applications/Utilities/Console.app` and gather the information that the application prints to the system console and paste it

[2018-10-06 13:11] PatrykDampc commented on #33
Yes, I'm running Mojave, but not in dark mode, I just want to Xcode be dark, while rest of system remains light.

When I'm switching Xcode setting in Your app, Xcode closes itself, but actually doesn't re-open, when I open it manually again, nothing happens.

This is command print from Your app while changing setting for Xcode appearance:
`wartość domyślna	15:10:15.806351 +0200	Gray	New settings f

[2018-10-06 13:36] zenangst commented on #33
For Gray to work, you need to run Mojave in Dark mode. This inconvenience is caused by Apple removing the option to opt in to dark mode while using light system appearance.

[2018-10-06 13:40] zenangst commented on #33
If you run this command while in dark mode and set Xcode to opt out from light mode you should be able to achieve the preference that you want.

defaults write -g NSRequiresAquaSystemAppearance -bool Yes

For more info check this link:
https://medium.com/@matt3224/per-app-mojave-dark-mode-301e418ee683

[2018-10-06 13:48] PatrykDampc commented on #33
still no impact on my Xcode appearance ;|

[2018-10-06 14:14] zenangst commented on #33
Did you logout and login again after running the first command? Because that command is global, you need to logout for it to take effect.

[2018-10-06 14:36] PatrykDampc commented on #33
Yes, and that makes my dock and toolbar dark like in < High Sierra, with dark Xcode, but this is not what I want, I would like to have Xcode dark only with light dock and the rest.. If that's impossible that's fine, i'll just stay with everything light.

Thank You for taking your time trying to help me

[2018-10-06 17:08] zenangst commented on #33
@PatrykDampc Now worries mate, too bad that Apple created it this way. Arguably they should have provided a way for us to pick and choose like we want from the beginning, then we wouldn’t be in this situation. Anyways, cheers mate ;)

[2018-10-06 17:08] #33 closed

[2018-10-06 19:52] dsalzr commented on #7
@zenangst did not work but here are the relevant log entries:

`default	12:50:10.399054 -0700	Gray	New settings for Mail = true
default	12:50:10.399101 -0700	Gray	command: /usr/bin/killall -u $USER cfprefsd
/usr/libexec/PlistBuddy -c "Set :NSRequiresAquaSystemAppearance true" /Users/daniel/Library/Preferences/com.apple.mail.plist
defaults read com.apple.mail NSRequiresAquaSystemAppearance /Users/d

[2018-10-07 11:00] KeKsBoTer commented on #7
@zenangst didn't work eather :/
[Console Log](https://gist.github.com/KeKsBoTer/907e0343eaf67598bd67549637cca4e9)

[2018-10-07 16:41] zenangst commented on #7
@KeKsBoTer @dsalzr thanks guys, it seems like there is something wonky going on with the entitlements.

I made a new version, could you try this one?

[Gray 0.7.1.zip](https://github.com/zenangst/Gray/files/2454094/Gray.0.7.1.zip)

[2018-10-07 16:42] zenangst commented on #26
Hey @drivenfaroff, would you mind trying this version [Gray 0.7.1.zip](https://github.com/zenangst/Gray/files/2454094/Gray.0.7.1.zip) ?

[2018-10-08 04:59] zenangst commented on #7
Hey @johnoscott, I think that it has to do with how the applications are being validated. If the Gray is unable to resolve the application plist for the app, it will simply ignore it. I think this needs changing for everything to work properly, I'll look into that issue as well even if it is unrelated to this specific problem.

[2018-10-08 06:31] zenangst commented on #7
@johnoscott mind sharing some log files using the Console.app?

[2018-10-08 06:48] zenangst commented on #7
@KeKsBoTer @dsalzr @johnoscott  Here is a question for all of you. Where are you running the application? Did you guys move it to `/Applications` before running it? I'm curious to see if this has any effect on the capabilities that the apps gets when it comes to modifying other application preferences.

If you don't do that, please try and "install" the app in `/Applications` and re-test changing

[2018-10-08 09:03] RamonGilabert commented on #10
I think that works, too, I'll create icons for both cases, just in case (:

[2018-10-08 11:10] johnoscott commented on #7
Yes I copied to Applications folder first

[2018-10-08 11:11] johnoscott commented on #7
Yes happy to. What exactly do you want ?

[2018-10-08 11:12] zenangst commented on #7
Just post anything that the `Gray` app spits out :)

[2018-10-08 11:15] johnoscott commented on #7
default	22:12:42.977997 +1100	loginwindow	-[PersistentAppsSupport applicationReady:] | App: Gray, ready, updating active tracking timer
default	22:12:42.978225 +1100	loginwindow	-[ApplicationManager checkInAppContext:refCon:eventData:] |      checked in app : Gray
default	22:12:43.064585 +1100	launchservicesd	CHECKIN:0x0-0x3fb3fb 79945 com.zenangst.Gray
default	22:12:43.067358 +1100	loginwindow	-[

[2018-10-08 11:16] johnoscott commented on #7
In the log above I did the following :`
1. open the app
2. search for "Mail"
3. click Mail to change its setting to "Light Appearance"
4. quit the app

Hope this helps

[2018-10-08 11:17] zenangst commented on #7
@johnoscott thanks mate, I'm gonna dig through them later on! cheers!

[2018-10-08 11:17] johnoscott commented on #7
[gray.console.log](https://github.com/zenangst/Gray/files/2455662/gray.console.log)

[2018-10-08 11:18] johnoscott commented on #7
I deleted the post and uploaded the log file instead (above)

[2018-10-08 11:42] KeKsBoTer commented on #7
I have installed all Gray versions to the Applications folder so far. Also the new 0.71a does not solve the problem with the mail app :(

[2018-10-08 13:57] drivenfaroff commented on #26
Hi @zenangst. I Tried the commands in the terminal with no luck. I also tried .7.1 with no luck on Mail.app. Here is some of the output from console.app.

[code]

[2018-10-08 14:08] zenangst commented on #7
Seems like the common theme that I can see is that this is due to sandboxing.
I'm gonna bring out the big shovel and get us out of this, I'll post more updates when life allows for more investigation.

@KeKsBoTer @dsalzr @johnoscott thanks y'all for the debug information and again... thanks for your patience ❤️

[2018-10-08 17:00] zenangst commented on #7
## Investigation

I've done some further digging, and it seems that Apple has made it tricky for us.
Preference files are not all located in `~/Library/Preferences`. The exceptions to the rule are the following:

[code]

So what we are looking at here is the SIP (System Integrity Protection) telling us that we cannot read the files. The reason why this was overlooked when I tested this was that I

[2018-10-08 17:17] zenangst commented on #7
@KeKsBoTer @dsalzr @johnoscott  So. I did some more digging and found this setting under `Security & Privacy`.

<img width="796" alt="screen shot 2018-10-08 at 19 15 14" src="https://user-images.githubusercontent.com/57446/46623653-9398d100-cb2e-11e8-9ba3-e704c564c928.png">

I tried it out with SIP-enabled and it worked. Please try giving the app the privileges it needs to see if that doesn't fix

[2018-10-08 17:54] dsalzr commented on #7
@zenangst That worked 🤩^^^ (Security & Privacy > Full Disk Access > + > Gray.app)

[2018-10-08 17:55] zenangst commented on #7
Fantastic, me and @RamonGilabert are working on some killer UX for the app to make the process more streamlined. If you launch Gray without enough privileges to change Mail, we will show what needs to be done for it to work :) Thank you so much for sticking with us in all of this ❤️

[2018-10-08 18:13] drivenfaroff commented on #26
That worked! Awesome! Thanks for helping figure this out. I'll close this now as things seem to be pretty stable!

I look forward to following the continued process.

[2018-10-08 18:13] #26 closed

[2018-10-08 18:48] zenangst commented on #7
We just released 0.8.0 so its time to put this issue to rest. Thanks to everyone for their participation, sending logs and following up played an enormous part in tracking this issue down. Loads of love ❤️

https://github.com/zenangst/Gray/releases/tag/0.8.0

[2018-10-08 18:48] #7 closed

[2018-10-08 20:17] KeKsBoTer commented on #7
Thanks man! it works ❤️

[2018-10-09 09:49] johnoscott commented on #7
Working now for Mail *BUT* when Mail is open and Gray changes the setting, Mail restart doesnt work. It does Quit, but doesnt start up automatically again.

[2018-10-09 10:12] zenangst commented on #7
@johnoscott  Yeah, it seems like the restart mechanism needs a bit of work. Still struggling a bit with some stutter when invoking shell scripting. Hoping to improve this in future versions of the app.

[2018-10-09 14:03] darinronne opened #40 "Removal Issues / Instructions"
I tried uninstalling Gray, but all my per-app settings were still applied.

I reinstalled Gray, set my Mac's Appearance to Light and within Gray set all Apps to "Light appearance". I notice that with some apps when I switch the Mac's Appearance to Dark, some apps still stay Light (even though they do have a Dark mode).

Within Gray when you toggle an app's color mode, there is no way to set it bac

[2018-10-10 05:37] zenangst commented on #40
@darinronne hey mate, we are still ironing out the kinks here and there and adding proper reset functionality is on our list of features that we aim to implement.

In the meantime, you should be able to reset individual applications by running these types of commands:

[code]

This example is for Xcode but if you change the bundle identifier to correspond with the application that you want to rese

[2018-10-13 02:47] yb0lyu commented on #40
If I want to reset VMwave Fusion, what should I do?

[2018-10-13 02:54] yb0lyu opened #42 "VMware Fusion 10 works abnormally with Gray"
It seems that Gray can't work with VMware Fusion 10. After using Gray, Fusion 10 shows all white or black instead of showing Windows 10. What should I do? I have reinstall VMware Fusion and reinstall macOS Mojave, don't work.
<img width="1105" alt="2018-10-13 10 47 52" src="https://user-images.githubusercontent.com/16093085/46900529-2a221500-ced6-11e8-9377-effa06dfe138.png">

![xnip2018-10-13_10-5

[2018-10-13 06:33] yb0lyu commented on #42
Maybe I have to reinstall from macOS Recovery? Oh NO 😭

[2018-10-13 11:30] zenangst commented on #40
Do you know what the bundle identifier is for VMWare Fusion?
You could remove the preference list for the app in your `~/Library/Preferences` (make a copy of it before throwing it away, I don't know what it contains).

To delete the `NSRequiresAquaSystemAppearance` from the preference file, we need the bundle identifier for the application.

[2018-10-13 11:53] zenangst commented on #42
@yb0lyu Gray does not modify your installation of Mojave, it simply adds a preference to your plist for the application that you are trying to modify. I'm guessing that VMWare is not linked against Mojave yet so the preference has a bad side-effect when changing the appearance.

You could try to run this in your terminal:

[code]

[2018-10-13 11:56] zenangst commented on #42
I'm gonna try and install VMWare Fusion later this evening to see if I can't replicate the issue and look at how I can solve it. I'll keep you posted!

[2018-10-19 02:31] greatoe opened #45 "apps in sub-folders?"
will Gray also search for apps inside sub-folders of Application folder?

or may us drag-n-drop apps, which maybe not in Application folder, onto Gray window?

[2018-10-19 04:45] zenangst commented on #45
Right now it only parses the /Applications folder + adding the Finder to the list.
We will add more folders in the future, probably pretty soon, when life allows :)

[2018-10-19 05:33] zenangst commented on #45
@greatoe in version 0.9.1, Gray will scan additional folders in `/Applications`.
However, it does not go through the directories recursively, so any third-party apps that add their folders in `/Applications` will not appear. I'm guessing that is what you meant, if so... then I'll just keep the issue open and continue to work on it. Cheers!

[2018-10-19 08:55] zgr0629 opened #47 "Can't see any applications"
![image](https://user-images.githubusercontent.com/5328562/47208188-bb562780-d3bf-11e8-89e4-f7b07a880328.png)

Using the latest 0.9.1 version.

[2018-10-19 08:59] zgr0629 commented on #47
Gray didn't asks for Full Disk Access, I manually added Gary to have Full Disk Access, but nothing changes, still no apps in Gary.
Does anyone know the clue?

[2018-10-19 10:29] changzhiga commented on #47
same problem, don't know how to fix this.

[2018-10-20 09:09] greatoe commented on #45
Yes you are right, I just want Gray to scan all the subfolders within /Applicaitons.  Thank you.

[2018-10-20 11:43] zenangst commented on #45
@greatoe That should be doable with a recursive method, I'll look into it :)

[2018-10-20 16:33] zenangst commented on #47
@zgr0629 @changzhiga  version 0.9.1 had a bug when parsing applications. It should be fixed in 0.9.2 and 0.9.3.

[2018-10-20 16:34] zenangst commented on #45
@greatoe good news, version 0.9.3 is out and it includes a refactored application parsing method so applications that use subfolders in `/Applications` should appear in the list of applications.

Download it and take it for a spin :) -
https://github.com/zenangst/Gray/releases/tag/0.9.3

[2018-10-22 20:21] JayBrown opened #50 "Other Applications directories supported?"
I read that **Gray** allegedly only supports `/Applications` (and an Xcode subfolder), but macOS supports the following application directories by system default:

[code]

I have installed most of my apps in `~/Applications`, because you should not put apps into the root `/Applications` folder that are only meant for *you*, so the user's applications directory (including non-default subfolders for

[2018-10-22 21:15] zenangst commented on #50
Hey @JayBrown, I think you are correct and that what you are saying still rings true in Mojave.
The reason for Gray only supporting `/Applications` is because we made the MVP just pointing to that folder, it is only recently that we added support for multiple folders and recursive application look #49.
We are looking to extend this to include all applications folder just like you listed here. If y

[2018-10-23 01:46] zgr0629 commented on #47
Thanks, 0.9.3 fix this.

[2018-10-23 01:53] zgr0629 commented on #47
![menu](https://user-images.githubusercontent.com/5328562/47330020-5e9d8a00-d6a9-11e8-938e-75a0f885acf7.gif)

Hi zenangst, as this gif shows, 0.9.3 still can't show the rdm.app.

[2018-10-23 05:06] zenangst commented on #47
What is the location of rdm.app? And what is rdm? Do you know if it is an electron based application?

[2018-10-23 07:10] zgr0629 commented on #47
Hi zenangst, rdm.app is located at /Applications/rdm.app, as it mentioned at the top of gif. And rdm.app is an redis gui client app based on Qt 5(not an electron based application). Github page at https://github.com/uglide/RedisDesktopManager.

Dose the Qt5 application matters? I have tried to copy rdm.app to `~/Applications` and reopen Gray.app, but still can't find it.

I have found the Bundle I

[2018-10-23 08:05] zgr0629 commented on #47
@zenangst Thank you, and maybe you need this script I wrote to build the latest version of rdm.app.

[code]

[2018-10-23 10:51] JayBrown commented on #50
Another non-default but important directory: `/System/Library/CoreServices/Applications`

Don't really know anything about Swift or Objective-C programming, but I assume you just need to append more directories, e.g. like this?

[code]

The recursive parsing would then support everything in the list via `[URL]`, right?

I just don't know how to add the `~/Applications` directory in the user's home

[2018-10-23 10:54] zenangst commented on #50
I haven't tried but hopefully, I think that `FileManager` should be able to resolve those paths.

https://github.com/zenangst/Gray/blob/master/Sources/Features/Applications/Logic/ApplicationsLogicController.swift#L91

That is the place where we can append more directories to search :)

[2018-10-24 01:55] Jonzzs opened #51 "I want to make Xcode alone dark mode in light mode"
I want to switch Xcode to the Mojave Dark Mode, but everything else stay in the traditional Light mode, can it be achieved?

[2018-10-24 05:18] zenangst commented on #51
Hey @Jonzzs, you could do that to some degree but you would have to live with a dark dock and menu bar. The way Apple implemented `NSRequiresAquaSystemAppearatnce`, which Gray builds on top, is that you can only require an app to use a light appearance while dark mode is on. You cannot opt-in to force a dark appearance in a light environment. You could do this with the early betas but that "featur

[2018-10-25 08:49] Jonzzs commented on #51
Thanks, I know now.

[2018-10-25 08:49] #51 closed

[2018-11-04 22:40] JayBrown commented on #50
Finally created the pull request: https://github.com/zenangst/Gray/pull/52

[2018-11-05 11:03] JayBrown commented on #50
I was right: just adding the POSIX paths didn't work. Added two more commits to the PR, one just a simple typo fix, the third one a fix for the paths in Swift.

It works fine when testing it with a .swift script using /usr/bin/swift.

However, some of the printed paths are missing the trailing slash `/`. (Don't know if this will cause problems. I don't know enough about Swift to judge that.)

[2018-11-14 17:09] JayBrown commented on #50
Has someone tested the PR yet?

[2018-11-14 17:12] zenangst commented on #50
Oh, sorry for the delay... I've been super busy lately #storyofmylife :) I'll take a look at it now.

[2018-11-14 17:45] JayBrown commented on #50
Hey, no problem. Me too, all the time, actually. ;)

I'm still a little worried, though, about adding the whole of `/System/Library/CoreServices`.

[2018-11-14 17:56] zenangst commented on #50
Great work on the PR mate! It is merge into `master` now. I'm currently working on some improvements that builds upon what you implemented. Trying to exclude applicatinos that are agents and handlers. Making good progress so I might just make a PR for this later tonight and if life allows and everything goes well, there might be a new version freshly brewed soon.

[2018-11-14 18:02] JayBrown commented on #50
Thank you; first time I ever PR'ed something in Swift. ;) But don't rush it; I still think it could be tricky; see my post in the original PR.

[2018-11-14 18:06] zenangst commented on #50
@JayBrown you can see the PR here - https://github.com/zenangst/Gray/pull/53

[2018-11-14 18:11] zenangst commented on #50
Hmm, I'm a bit confused about `Stocks`. On my system the application appears twice.

[code]

[2018-11-14 18:21] JayBrown commented on #50
Yep, I just tried to launch the one in CoreServices, and nothing happened, so that seems to be something else. I guess it's probably best to keep those basename duplicates in the list that are *not* in CoreServices, i.e. keep the ones in /Applications etc.

[2018-11-14 19:44] zenangst commented on #50
@JayBrown 0.9.4 is out, take it for a spin... it should be a lot snappier and include more applications thanks to you, kudos mate 😎

https://github.com/zenangst/Gray/releases/download/0.9.4/Gray.zip

[2018-11-14 22:14] JayBrown commented on #50
Thank you. Does feel a lot snappier.

General idea: information about path to application. Either (a) arrange applications into sections `/Applications`, `~/Applications` etc., or (b) right-click on icon + new contextual command "Get Info", or simply (c) hover over icon and a tool tip with the path appears. (User paths should be shortened: `/Users/username` > `~`

(Just an idea.)

PS: seems the ve

[2018-11-14 22:33] JayBrown commented on #50
Replace user folder path in full path with tilde:

`@property(readonly, copy) NSString *stringByAbbreviatingWithTildeInPath;`

https://developer.apple.com/documentation/foundation/nsstring/1407943-stringbyabbreviatingwithtildeinp?language=objc

[2018-11-14 23:13] JayBrown opened #56 "Quick setting: High Sierra Mode"
Gray could include a quick setting at the top, right below "System Preferences" and below "Applications", for **High Sierra Dark Mode**, i.e. light mode for all applications except the menu bar and the Dock.

There is already something like this in apps like TinkerTool (see at the top: "restrict dark mode"):

![TTsnap](https://i.imgur.com/SpYHSog.jpg)

I used this once, but I have to warn that the

[2018-11-14 23:46] JayBrown commented on #19
Apple encourages the use of DMGs, and they have their advantages, not because of volume design, but because they can be code-signed for secure distribution. There are good tools for this, incl. DMG layout design, like [**DropDMG**](https://c-command.com/dropdmg/). And it's probably pretty easy to rely solely on DMGs, for first installation and updates. (DMGs can be quietly mounted on any mount poi

[2018-11-15 06:20] zenangst commented on #50
@JayBrown ah, the problem with the last release was that the bundle version wasn't updated before I made a zip for the application. I've updated the zip-file now, thanks for reporting it :)

Oh, so you'd like to use a sectioned data source to show where the applications are located?
I think that could work, but it would involve a lot of extra work to get the search to work properly.

I would proba

[2018-11-15 09:29] zenangst commented on #50
Interesting, I'll take a look at this later today :)

[2018-11-15 15:57] sibob opened #57 "'Gray is damaged and can't be opened, you should move to trash' on 0.9.4"
I can't open the app, and get this warning every time. Was working fine before. Is it just me?

[2018-11-15 17:43] zenangst commented on #57
I think the signing of the app is broken right now, I will make a new version later his evening. Sorry for any inconvenience

[2018-11-15 18:05] zenangst commented on #50
@JayBrown uploaded a new zip, mind taking that for a spin?

[2018-11-15 18:19] zenangst commented on #57
@sibob I just uploaded a new zip, could you try that one?

[2018-11-15 18:22] sibob commented on #57
It works perfectly, thanks for such a swift response!

[2018-11-15 18:29] zenangst commented on #50
Seems like the new version solved it. The README shouldn't be included in the bundle so I just removed it :)

We got this issue and it tested okay after the new version was shipped.

Closing this issue now 🍻

[2018-11-15 18:29] #50 closed

[2018-11-15 19:03] #45 closed

[2018-11-15 19:03] zenangst commented on #45
Version 0.9.4 also improves this behavior :)

[2018-11-25 19:18] JayBrown opened #60 "Not detecting MailSteward?"
MailSteward—trial available [**here**](https://mailsteward.com/download.html)—does not show up in **Gray**'s application list. Switching the mode with the `defaults` hack works, and I can easily switch the app between dark & light mode, but Gray doesn't seem to detect it in `/Applications`. I couldn't find any rule in the code that would somehow exclude it.

Anyone else having this problem? With M

[2018-11-28 09:51] zenangst commented on #60
Hey @JayBrown,

I haven't had time to check this out yet, I'll see if I can't spare a few minutes this evening to see if I can't figure out why it is not included in the list of applications.

Cheers!

[2018-11-28 18:16] zenangst commented on #60
@JayBrown good news, I found the issue and made a PR for it :)
Gonna merge it now and make a new version.

[2018-11-28 18:17] #60 closed

[2018-11-28 18:23] zenangst commented on #60
@JayBrown you can download the new version here
https://github.com/zenangst/Gray/releases/download/0.9.6/Gray.zip

[2018-11-28 18:23] zenangst commented on #47
Hey @zgr0629, sorry for the delay. Can you try this new version to see if that doesn't fix your issue with `rdm.app` ?

https://github.com/zenangst/Gray/releases/download/0.9.6/Gray.zip

[2018-11-28 18:23] zenangst commented on #42
Closing this issue due to lack of activity

[2018-11-28 18:23] #42 closed

[2018-11-29 11:20] zgr0629 commented on #47
Hi @zenangst , I tried 0.9.6 and this version fix this bug. Thanks for the work!

[2018-11-29 11:20] #47 closed

[2018-12-13 02:06] cjwcommuny opened #66 "Visual Studio Code not support"
I can't change the theme of Visual Studio Code through Gray, but I can change it through the command line `defaults write -app Visual\ Studio\ Code NSRequiresAquaSystemAppearance -bool Yes`
Gray 0.9.8 (1)
macOS 10.14.1
Visual Studio Code 1.29.1

[2018-12-13 20:31] zenangst commented on #66
@cjwcommuny I've released a new version, you can find it here -
https://github.com/zenangst/Gray/releases/download/0.9.9/Gray.zip

Cheers! :)

[2018-12-13 20:32] zenangst commented on #66
Note that the application will show up as `Code` and not `Visual Studio Code` in the list.
The reason for this is that we parse the property list inside the application and that is what Microsoft put as the bundle name.

[2018-12-21 11:00] valuefish-buaa opened #68 "Netron not support"
I can't change the theme of [Netron](https://github.com/lutzroeder/netron) through Gray. Even though through the command line `defaults write -app Netron NSRequiresAquaSystemAppearance -bool Yes`,  it can only change the title bar to bright color like below:

![image](https://user-images.githubusercontent.com/44377963/50339435-95c9d380-0552-11e9-81bd-f715604feff9.png)

[2018-12-21 12:21] JayBrown commented on #68
Afaik Gray excludes Electron apps.

[2018-12-21 12:40] zenangst commented on #68
Seems similar to https://github.com/zenangst/Gray/issues/66.
We could remove this check to allow Electron apps now that they seem to support this.

[2018-12-25 12:39] zenangst commented on #68
Hey @valuefish-buaa, please download the latest version of Gray, it should support Netron now that Electron apps are allowed back in the list of applications. Cheers!

[2018-12-26 16:02] zenangst commented on #68
Interesting, I’m gonna try and download the app to reproduce the issue. I’ll keep you posted!

[2018-12-26 17:37] zenangst commented on #68
@valuefish-buaa I downloaded the app and got the same result as you did. So I dug into the source code of Netron and found how they implemented support for dark mode on Mojave.

https://github.com/lutzroeder/netron/blob/master/src/app.js#L576

As you can see, they rely on what setting you have in system preferences rather than respecting the applications own preference setting. I'm afraid there is

[2018-12-26 17:37] #68 closed

[2018-12-27 01:45] valuefish-buaa commented on #68
Understood, thanks very much!

[2019-02-14 00:29] johnoscott opened #88 "Chrome Canary does not appear in the list of applications"
I have Chrome and Chrome Canary installed but only Chrome shows up in the app list.

I want to change the settings for Chrome Canary but i cant.

[2019-02-14 06:14] zenangst commented on #88
Hey @johnoscott, I'm curious what the bundle name or binary is for both apps, there might be a name collision there which makes `Gray` to mark them as a duplicate and only show one of them.
I'll do some more digging here when life allows, thanks for reporting!

[2019-03-15 06:30] zenangst commented on #88
Hey @johnoscott, sorry for the delay. I found the issue and made a fix for it here #89.
A new version is coming, stay tuned!

[2019-03-15 06:36] #88 closed

[2019-03-15 06:43] zenangst commented on #88
@johnoscott a new version is available here - https://github.com/zenangst/Gray/releases/tag/0.10.1

[2019-03-16 23:14] johnoscott commented on #88
Yep, works now. Thanks

[2019-04-11 09:02] soyaine opened #94 "The dark mode is not work in Wechat."

[2019-04-23 07:27] lijialiang opened #95 "System Light, Chrome Dark not work"
I set the System in Light, Chrome in Dark, this doesn't work. I hope most of the software is in Light

[2019-04-23 07:31] zenangst commented on #95
Hey @lijialiang, unfortunately, Gray only works if you have the system in dark mode. This is a limitation that Apple as set for us. I'm gonna make this more clear because that limitation is a bit ambiguous right now.

The limitation resides in the setting that Gray applies to the apps which are setting `NSRequiresAquaSystemAppearance` to `true`. This means that under Dark mode, force the applicati

[2019-04-23 07:32] zenangst commented on #94
@soyaine hey, I don't know what underlying frameworks go into Wechat but if it is based on Electron, we are pretty much out of luck for supporting it. You can check this issue for more details on the subject: https://github.com/zenangst/Gray/issues/68

[2019-04-23 07:40] lijialiang commented on #95
Thank you very much for your reply. You have already completed this great thing. There is still a question. Can you set the system status bar to Light?

[2019-04-23 07:42] zenangst commented on #95
A bit unsure about that, try Googling on Mojave dark mode menubar using terminal commands or something like that. I've seen something like it in the past but I'm a bit unsure right now.

If you do find anything be sure to post it here because I'd love to add it as a feature to Gray if it is possible 😄

[2019-04-23 07:43] lijialiang commented on #95
Ok, thank you again for your reply :)

[2019-04-23 07:43] #95 closed

[2019-05-21 16:29] #94 closed

[2019-05-22 15:43] Roadrunner-one opened #98 "Cannot detect VMware Fusion"
Hi, it seems like VMware Fusion in my application folder still cannot be detected.

[2019-05-22 15:45] zenangst commented on #98
Hey @Roadrunner-one, it seems to have had a negative effect to set this setting on earlier versions of VMWare (see this issue: https://github.com/zenangst/Gray/issues/42) so we decided to actively exclude it to not cause issues for our users.

[2019-05-22 15:49] Roadrunner-one commented on #98
Yes, I have the same problem due to using the following command
`defaults write -g NSRequiresAquaSystemAppearance -bool Yes`,
and then use
`defaults write -g NSRequiresAquaSystemAppearance -bool False`,
I now have to use `defaults write -g NSRequiresAquaSystemAppearance -bool Yes`
whenever I want VMware to work again, and this is a bug not exclusive to VMware, I was hoping gray may resolve this is

[2019-05-22 15:52] zenangst commented on #98
@Roadrunner-one what happens if you remove the entry from the preference file?
Does that fix the issue to not have to change the global preference?
Curious if this has to do with VMWare not being linked against the latest macOS SDK or not.
Have you seen any other applications where this is an issue?

[2019-05-22 15:59] Roadrunner-one commented on #98
Sorry I don't know about how to "remove the entry from the preference file", but I can say for sure that this happened to another application, and I vaguely remembered that I used Gray to turn it into light theme and the problem is gone, but it's long time ago and I don't recall which software it was

[2019-05-22 16:12] zenangst commented on #98
@Roadrunner-one you can remove the entry by running:

[code]

[2019-05-22 21:54] Roadrunner-one commented on #98
I ran `defaults delete -g NSRequiresAquaSystemAppearance` , and the problem is resolved, thanks!

[2019-05-22 21:55] zenangst commented on #98
@Roadrunner-one no worries mate! Glad I could help :)

[2019-05-22 22:03] #98 closed

[2019-06-05 03:11] zhangdongxiao opened #100 "it crash when i open it in latest version"

[2019-06-05 05:33] zenangst commented on #100
@zhangdongxiao do you have a crash report you can share?

[2019-06-07 19:11] zenangst commented on #100
@zhangdongxiao 🏓 Any updates on this? I'd love a crash report in order to investigate this further.

[2019-06-09 02:02] zhangdongxiao commented on #100
It’s working to reinstall it again .......

[2019-06-09 02:02] #100 closed

[2019-07-02 18:28] thejase opened #101 "App Stalling on Launch"
When starting the app on two different laptops, I'm getting this crash report after 5 minutes of "spinning pinwheel":

[code]

[2019-07-03 11:01] Axemasta commented on #101
I'm also experiencing this issue, on a brand new mac mini!

My old imac runs an older version fine, 0.12 seems to be crashing.

I'm just using the old version for now!

*Both machines are running up to date mojave as of this post (10.14.5)*

[2019-07-11 21:29] thejase commented on #101
Thanks for the tip!  I'll stick with the old version for now.

[2019-08-06 01:57] zgr0629 commented on #101
Same issue here with a 2018 MacBookPro running Mac OS X 10.14.6.
Back to 0.11.0 for now.

[2019-08-29 08:39] EternalImmortal opened #102 "Can't run"
I am using a macbookpro in 10.14.6.
It's 15 inch 2019.
When I open this application, it will show nothing in the window, and I have to force quit it.

[2019-08-29 08:40] zenangst commented on #102
Hey @EternalImmortal, I've been meaning to release a new version, try an older version.
Check this issue: https://github.com/zenangst/Gray/issues/101

[2019-08-29 09:11] EternalImmortal commented on #102
Hey @zenangst, the 0.11 version can work normally. But the loading speed when I scroll the list is very slow. Expecting your new version.

[2019-08-29 09:11] #102 closed

[2019-08-29 20:05] zenangst commented on #101
Hey @thejase @Axemasta @zgr0629

First, thanks for reporting this, life has been busy lately and I apologize for keeping you waiting.
I've released a new version that can be found here: https://github.com/zenangst/Gray/releases/tag/0.13.0

Mind taking it for a spin and report back to me how it goes?

[2019-09-04 12:51] Axemasta commented on #101
Look's like it's working as I'd expect it to on my mac!

Thanks @zenangst, no need to apologize we all understand life comes first :)

[2019-09-04 17:07] zenangst commented on #101
Thanks for the feedback everyone! I'm gonna  go ahead and close this one now ❤️

[2019-09-04 17:07] #101 closed

[2019-09-04 17:08] zenangst commented on #102
@EternalImmortal this should be fixed in version 0.13 and 0.14.

[2019-10-09 10:05] HanXiaoTeng opened #106 "Xcode Dark Mode"
I want just xcode use dark mode,but the Gray is not effct.How to do? The system version macOS 10.15

[2019-10-09 10:08] zenangst commented on #106
Hey @HanXiaoTeng, what appearance do you use for the system? Just want to make sure that you have it set to Dark. To quote the README:

[code]

In newer version of Xcode, you can actually change this preference inside of Xcode so there should be no need to use Gray to change it. However, with older versions of Xcode (prior to 11.0) you should be able to change the appearance if your system appeara

[2019-10-09 10:13] HanXiaoTeng commented on #106
I want that Xcode11 is dark mode,others and system is light mode.What should I do?

[2019-10-09 10:14] zenangst commented on #106
Go into Xcode 11 preferences:

<img width="912" alt="image" src="https://user-images.githubusercontent.com/57446/66472804-48413780-ea8e-11e9-814c-a6ee55ae9fe5.png">

[2019-10-09 10:16] HanXiaoTeng commented on #106
Thanks

[2019-10-09 10:19] #106 closed

[2019-10-22 17:28] djwgit opened #108 "only keep current active app window in light theme"
thanks for this nice app.
wonder if could add a function does this
- take the system setting, set system to dark theme
- but only keep current active window in light theme...

current active window in light theme, which is easier to read.  (as reading black text in white paper, not really find dark theme easier for reading, maybe just me :-)
while the other inactive windows are in dark, less distr

[2019-10-22 17:32] zenangst commented on #108
Hey @djwgit,

I'm afraid we won't be able to make the current active window use light mode and all the other windows use dark appearance. The way the application works is to set a specific setting in the applications property list which forces the application to use light-mode (even if the system is set to dark-mode). For the setting to be applied, the application needs to be restarted as property

[2019-10-25 16:18] L1cardo opened #109 "Application Names not Correct"
Now I see that the Gray takes the application  names from `executableName`, and it is a little annoying in Chinese .
Some application‘s name is different from their `executableName`.
Is it possible to just display the application name instead of `executableName`?
I know that `executableName` is written in the `info.plist` file, and `info.plist` is written by the application builder,  but can it be

[2019-10-25 18:42] zenangst commented on #109
Hey @L1cardo, thanks for bringing this to my attention. I'll see what I can do 😎

[2019-10-25 19:49] zenangst commented on #109
Hey @L1cardo, just wanted to give you a quick update on this issue. I've implemented a very basic parser for this and tried it out. Here is the result with WeChat when I force a specific locale.

<img width="512" alt="Screen Shot 2019-10-25 at 21 49 17" src="https://user-images.githubusercontent.com/57446/67599930-6044d680-f771-11e9-8dc1-91f41d96b4ce.png">

I should be able to have a new version o

[2019-10-25 22:52] L1cardo commented on #109
The gratefulness should be mine!
Thanks for developing such an awesome app!
And thank for what you have done, not just or me or for Chinese users, but for all the community!
By the way, do you know that you are the most kind and most modest programmer that I have ever know !

[2019-10-29 06:21] zenangst commented on #109
Hey @L1cardo, thank you so much for the kind words!

I've created a PR to add an initial implementation for resolving a localized name for applications.
You can find the PR here https://github.com/zenangst/Gray/pull/110. Are you able to build the project and make a version that you can test locally or do you want me to provide a binary?
If the latter, then I can probably fix one for you later this

[2019-10-29 06:39] zenangst commented on #109
Here is a notarized version of the application with the localization fix, please take it for a spin and report back to me.

[Gray.zip](https://github.com/zenangst/Gray/files/3782018/Gray.zip)

[2019-10-29 07:23] L1cardo commented on #109
I tested the build above, and I found two issues.
1. Apps can not be searched by their Chinese names.
![image](https://user-images.githubusercontent.com/33802186/67745472-4819d380-fa5f-11e9-8ba5-1d63d692be71.png)
![image](https://user-images.githubusercontent.com/33802186/67745478-523bd200-fa5f-11e9-9549-aa1fd5c78d34.png)

2. System Apps are still in English.

[2019-10-29 07:32] zenangst commented on #109
Thanks for reporting back, totally forgot about search.
I’ll push some new commits when life allows ;)

[2019-10-30 07:01] zenangst commented on #109
@L1cardo mind trying this new binary to see if it doesn't work better :)

[Gray.zip](https://github.com/zenangst/Gray/files/3787333/Gray.zip)

[2019-10-30 07:08] L1cardo commented on #109
I am in class and I will test it later, thanks for your hard work!

[2019-10-30 07:22] zenangst commented on #109
Be cool, stay in school 😎

[2019-10-30 10:16] L1cardo commented on #109
Emmmm, are you sure this is the new version ? The localized app names are missing in this build
![image](https://user-images.githubusercontent.com/33802186/67849321-5809e400-fb41-11e9-8fb9-e4047faa493b.png)

[2019-10-30 10:23] zenangst commented on #109
This is why I shouldn't program before I've had my coffee 😆
I'll do some further investigation, I'll keep you posted.

[2019-10-30 10:25] L1cardo commented on #109
Hahaha, enjoy your coffee!

[2019-11-04 11:26] miniesam opened #111 "Localization: Korean"
Hello! I'd like to localize the strings and translate `README.md` into Korean.
Please let me know if it is okay with you.

[2019-11-05 01:24] TheBrown commented on #106
Thanks

[2019-11-27 20:13] cadilluck opened #112 "There is no way to change light / dark theme for sound / brightness progress popups"
Not an issue – more like feature request:

I don't know if this worked in the app earlier.
For me the problem arrived in macOS Catalina.

Earlier this was easily solved manually by command in terminal (without Gray app):
`defaults write -g NSRequiresAquaSystemAppearance -bool Yes`

Hope it's not too complicated and you'll be able to add this to Gray app.
Will make lots of people happy.

[2019-11-27 20:15] cadilluck commented on #112
Just to explain in details:
when you try to adjust volume or brightness using keyboard buttons,
even if you have dark Dock and top bar (with light theme as default)
 – those square popups with progress bars are still in a light theme. And there is no way to switch them separately to the dark.

[2019-11-28 10:40] zenangst commented on #111
Hey @miniesam, yeah sure that would be great. Will you add a another README with a prefix to it?

[2019-11-29 09:50] miniesam commented on #111
Thank you for your reply, @zenangst.
I can't start translating right now because I have an urgent schedule.
I'll start translating as soon as my schedule is finished.
And just want to make it sure, is the file name `README-ko.md` okay?

[2019-12-03 06:38] zenangst commented on #111
@miniesam `README-ko.md` sounds okay to me! :)
Then we can link that README in the main one.

[2019-12-03 06:39] zenangst commented on #112
Hey @cadilluck

Sounds doable to me, seeing that the rest of Gray's functionality is based on running terminal commands it should be pretty easy to provide.

[2019-12-03 08:38] cadilluck commented on #112
Great, however the problem is that this exact command doesn't work for volume/brightness anymore, since Catalina.
Does incl bar and dock, as earlier though.

Seems like they've changed 'handle' / 'linking' or 'placement' of brightness/sound overlays. ;-(

[2019-12-08 12:11] cadilluck commented on #112
any idea how to find the proper code / terminal command to modify these controls' theme?

[2019-12-08 14:37] zenangst commented on #112
Hey @cadilluck, I have yet to figure out which process owns that UI, without knowing which one it is we a really at a standstill I'm afraid. I'm gonna do some more digging, I'll get back to you when I have something new to report.

[2019-12-08 14:39] cadilluck commented on #112
thank you, dig as well, however no success yet

knowing the process would save the nerves ;-)

[2019-12-17 04:26] avatar-lavventura opened #113 "After reboot or flux time change, Gray's settings are over written"
It is a great app thanks! I am using on macOS Catalina. After a reboot or `flux` app changes the time line, it overwrites the Gray's setup. So even if it is light theme on the Gray, the app starts a dark theme, hence I need to re-set its status on Gray.

I think this issue is not related to Gray and completely occuring related to macOS Catalina.

https://forum.justgetflux.com/topic/7202/macos-cata

[2020-01-23 10:45] vladdeSV opened #115 "Incorrect system theme mode on first launch"
**Issue**: When starting the application for the first time with the system theme set to Dark mode, the application incorrectly displays the system theme as Light

![Displaying light mode](https://i.imgur.com/efPVTRX.png)

**Reproduce**:
- Remove the application if installed
- Set the system theme to Dark mode (*Settings.app* > General > Appearance: *Dark*)
- Download and open the application

**E

[2020-01-23 12:34] zenangst commented on #115
Oh interesting, I'll look into this. Thanks for reporting @vladdeSV

[2020-02-03 14:59] #111 closed

[2020-03-28 03:25] L1cardo commented on #109
@zenangst Hi, how are you!
I have tested 0.16.0 version and all things are extremely good in Chinese !!
A huge thanks to you !!!

[2020-04-03 22:34] cadilluck commented on #112
no news? too hard? (

[2020-04-23 08:05] zenangst commented on #112
Hey, I still haven't been able to figure this one out, sorry! 💔

[2020-05-02 07:30] LiuShaw opened #118 "Can I set some app to dark mode when the system using light mode？"
As the title, thank you.

[2020-05-02 10:09] zenangst commented on #118
Hey @LiuShaw, sadly no. The property that Gray uses under-the-hood cannot be reversed as the setting only tells the system that it should force the light appearance. One could do this during the beta period of Mojave but Apple decided to remove that option.

So the answer is unfortunately no :(

[2020-05-02 11:00] LiuShaw commented on #118
Ok~Thank you for your detailed reply~

Best wishes

------------------ Original ------------------
From: Christoffer Winterkvist <notifications@github.com&gt;
Date: Sat,May 2,2020 6:09 PM
To: zenangst/Gray <Gray@noreply.github.com&gt;
Cc: LiuShaw <164615905@qq.com&gt;, Mention <mention@noreply.github.com&gt;
Subject: Re: [zenangst/Gray] Can I set some app to dark mode when the system using light m

[2020-05-03 19:28] zenangst commented on #118
No worries mate, I'll close this issue now.

[2020-05-03 19:28] #118 closed

[2020-05-07 06:00] zenangst commented on #109
Closing this now :) Cheers 🍻

[2020-05-07 06:00] #109 closed

[2020-05-22 13:45] samh349 opened #119 "Terminal cannot be changed to dark mode while system is in light mode, but can be changed to light mode when system is in dark mode"

[2020-05-28 01:36] havewisdom opened #120 "System Light mode and specific app tune to dark doesn't work"
In the system dark mode, other apps are set to the light mode.
It's not the opposite.
System in light mode Other apps in dark mode do not work.

[2020-09-17 16:49] zenangst commented on #120
Hey @havewisdom,

Gray only works if your system is set to use `Dark appearance`. This is a limitation of the OS, not something that Gray can fix I'm afraid.

[2020-09-17 16:50] zenangst commented on #119
Hey @samh349,

Gray only works if your system is set to use Dark appearance. This is a limitation of the OS, not something that Gray can fix I'm afraid.

[2020-09-24 09:38] Etheryte commented on #112
Following [this Apple Stack Exchange discussion](https://apple.stackexchange.com/a/212694/28613) it seems the configuration of those popups is `/System/Library/LaunchAgents/com.apple.OSDUIHelper.plist`, however that's a readonly system volume on Catalina and isn't modifiable out of the box.

[2020-09-24 09:53] zenangst commented on #112
@Etheryte Oh, that is interesting. I wonder if we could incorporate that into Gray if the application has full disk permissions. I'll look into it.

[2020-09-24 15:23] Etheryte commented on #112
I can confirm that adding the flag to the file works. This can only be done by disabling SIP afaik however, so it's out of reasonable reach for most users.

[2020-09-24 15:34] cadilluck commented on #112
glad you found that, sad about negative sides

what if there is a copy of that file in /user/library/launch agents – won’t it automatically load for that exact user?
in that folder the file will become editable / any rights possible to set

[2020-10-16 02:46] simonrouse9461 opened #121 "Not working in Big Sur"
Nothing works except switching system light/dark mode in Big Sur.

[2020-10-16 05:43] zenangst commented on #121
@simonrouse9461 Hey mate, interesting, I'm running Big Sur, and "it works on my machine".

Mind sharing some more details about your setup, have you given Gray any extra privileges?
Which apps are you trying to modify? Are they system applications or a third party?

[2020-11-13 21:23] Nosrac commented on #121
Just upgraded to Big Sur and am also having problems.

- I've tried both System Apps (Safari, XCode) as well as third party apps (Deliveries.app).
- I did grant Gray the privileges it requested
- I should note this is the first I'm using Gray.

In the Console app, when filtering for "Appearance" this is what is logged immediately after changing the setting for Xcode:

[code]

––

Here is what happ

[2020-11-14 00:41] Nosrac commented on #121
Update:

A few hours later and it seems to be working.  I'll let you know if I figure out anything.

[2020-11-16 09:34] zenangst commented on #121
@Nosrac interesting find, I'm gonna have to do some deep diving here to see what is up.

[2020-11-16 16:55] Nosrac commented on #121
I did have the `Appearance: Auto` global setting FYI

[2020-11-17 07:51] zenangst commented on #121
@Nosrac Oh, that is interesting. Thanks for reporting back to me! 😎
Perhaps we could check the user's current global setting to see if Gray is eligible to do its job.

[2021-01-06 18:37] Zeldemir opened #123 "Pages app - light display issue"
Hello,

On the Pages app, on Mac Big Sur 11.0.1, Macbook Air M1. Switching to daytime appearance creates transparent borders ... When I'm in night mode of the system, and I apply the daytime theme for Pages on Gray, there are these transparent borders on the document...

The problem :
<img width="1440" alt="Capture d’écran 2021-01-06 à 19 25 04" src="https://user-images.githubusercontent.com/116

[2021-01-06 19:39] zenangst commented on #123
Hey @Zeldemir,

How does it look for you if you reset the application setting for `Pages` so that it will follow the system and then switch it to dark mode? Does it still look transparent?

Even so, I don't think there is anything that we can do in the application because the only thing that Gray does it so configure an application to use a specific setting in the user defaults (as stated in the R

[2021-01-06 20:19] Zeldemir commented on #123
Thank you for your reply @zenangst. In system dark mode, and in mode that follows the system, no transparancy :

<img width="1440" alt="Capture d’écran 2021-01-06 à 21 09 54" src="https://user-images.githubusercontent.com/1163187/103815594-dcb89200-5063-11eb-96cc-cf7cd4bf0a6a.png">

On the other hand, I notice when I am in day mode on the system. And that I switch to dark mode on Gray. No change

[2021-01-07 06:48] zenangst commented on #123
I wonder if this is simply a conflict of the system juggling the core setting and having specific overrides. I've been running macOS in dark mode and using Gray for so long that I've lost track of the "source of truth" of what it does look like without modifications so that is why this has gone overlooked from my part. But like I stated previously, this does not modify the actual application, only

[2021-01-30 18:21] webenadam commented on #121
So does it work on BigSur or not?

[2021-01-30 18:28] webenadam commented on #121
Doesn't seem to work for me (using macbook air m1 2020, BigSur 11.1):

![CleanShot 2021-01-30 at 20 27 10](https://user-images.githubusercontent.com/71192219/106364699-b1128a00-6339-11eb-9db1-b627589f1758.gif)

[2021-01-30 18:37] webenadam commented on #121
Sorry, now i see it does work for everything except the calendar.

*the calculator also doesn't change but i'm not sure if he is suppose to :)

[2021-02-02 20:44] nmehta94 opened #124 "App-Specific Dark Mode does not work for the Messages App"
App-Specific Dark Mode does not work for the Messages App when system is default Light. The reverse works - Messages can be app-specific Light when system is in Dark.

I'm using the latest MacOS Big Sur 11.2 version.

[2021-02-16 18:05] VictorPapyshev commented on #121
Gray doesn't seem to make Xcode appear dark for me, either.

M1 MacBook Pro, Big Sur 11.1, tried with system appearance light and auto.

Let me know if there's anything I can do/provide to help!

[2021-03-21 09:27] jum123 opened #125 "big sur intel"
no work for the docker

[2021-05-25 18:59] zenangst commented on #124
Hey @nmehta94, I'm currently notarizing a new version that should help solve this issue. Should be available in a moment.

[2021-05-25 19:01] zenangst commented on #124
The new version can be found here - https://github.com/zenangst/Gray/releases/tag/0.17.0

[2021-05-25 19:01] zenangst commented on #121
I think I've managed to figure it out why certain apps don't properly change.
Could you please take 0.17.0 for a spin to see if that doesn't solve the issue - https://github.com/zenangst/Gray/releases/tag/0.17.0

[2021-05-25 19:02] zenangst commented on #125
@jum123 could you try the new version 0.17.0 to see if that works - https://github.com/zenangst/Gray/releases/tag/0.17.0

[2021-05-25 19:11] webenadam commented on #121
Tried 0.17.0

Calendar doesn't work.

[2021-05-25 22:06] cvega48 commented on #121
Working awesome on Big Sur 11.3.1 - Hackintosh Laptop

[2021-05-26 05:13] webenadam commented on #121
Well for me it doesn't work, no matter how many app restarts. (Macbook air M1)

[2021-05-26 05:39] zenangst commented on #121
@webenadam:

[2021-05-26 05:40] zenangst commented on #121
@cvega48 seems like there has been some changes to plist caching because it seems a bit more unreliable than before. I've also seen that it doesn't always work. Will have to revisit this to see if there is a more reliable method.

[2021-07-12 17:54] #119 closed

[2021-09-10 07:21] simonrouse9461 commented on #121
Any update on this?

[2021-09-14 15:46] zenangst commented on #121
@simonrouse9461 did you try the latest 0.17.0 version? It does have some minor things included that might help with the issue.

[2021-11-02 19:53] #124 closed

[2021-11-02 19:53] #125 closed

[2021-12-20 09:28] IsaacShelton commented on #121
0.17.0 doesn't work at least for m1 mac big sur

tried several built-in apps and none of them worked

[2021-12-20 13:37] zenangst commented on #121
@IsaacShelton which apps are you trying to update, the system applications or third party ones? And have you given Gray permissions?

[2021-12-20 19:43] IsaacShelton commented on #121
I got it to work now

I thought you could enable dark mode for only certain apps when in light mode but I guess you can only enable light mode for certain apps when in dark mode

[2021-12-21 15:49] zenangst commented on #121
@IsaacShelton unfortunately, the way Apple implemented this override is that it only works on way, so you can only enable light mode when using dark mode as your base. In the early betas, you could do the opposite.

[2022-03-01 15:53] powerrbob opened #127 "Microsoft Outlook doesn't work (classic outlook)"
I have tested manually (defaults write com.microsoft.Word NSRequiresAquaSystemAppearance -bool NO) and with Gray application but it seems that it does not work. Any idea to try or do you think it is impossible? Many thanks :)

[2022-03-30 08:34] zenangst commented on #127
Hey @POWERober, I don't have that application installed myself.
Have you set your system appearance into dark mode?

[2022-03-30 08:34] zenangst commented on #127
Also, if you want to run something in light mode while the system is in dark mode then the `NSRequiresAquaSystemAppearance` settings should be set to `YES`

[2022-07-23 15:49] kmanadkat opened #131 "Not Working For Docker Desktop"
Hey,
I tried Gray application. It worked for some of the apps I use. But it doesn't seem to work for Docker desktop `com.docker.docker` below is the screenshot

<img width="2054" alt="Screenshot 2022-07-23 at 9 18 10 PM" src="https://user-images.githubusercontent.com/25281055/180612534-74aa6b1e-7e33-4e72-87ab-0a4e1fb56c45.png">

[2022-08-19 10:45] zenangst commented on #131
I seem to remember that the Docker apps isn't listening properly to what the system has set. Or at least I think I did some investigation into this a while back.

[2022-10-26 09:02] maxischenk opened #132 "Not able to change back to system dark mode"
I installed this app, since then everything is in light mode, when i switch to dark mode! The toggle in the app to switch to dark mode is not working at all! Thanks for making my computer unusable

[2022-11-01 21:28] zenangst commented on #132
Hey @maxischenk, you can reset the applications settings by right clicking on the icons inside the app for the ones that you want to restore.

<img width="544" alt="image" src="https://user-images.githubusercontent.com/57446/199345347-a876d29b-9946-4cd4-b520-219398455a83.png">

The only thing that the apps does is to write the settings of the selected app, as stated in the README

For example:
[co

[2022-11-22 02:06] devpotato-fw opened #133 "Not working for safari"
Can not find safari in gray app.